.mainDiv {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	align-items: center;
	text-align: center;
}

.statisticLetterMenu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 350px;
	height: 300px;
	align-items: center;
	text-align: center;
}
h2 {
	align-items: center;
	text-align: center;
	justify-content: center;
}

h4 {
	text-align: center;
}

.levelButton {
	color: coral;
}

.menuBackButton {
	width: 100px;
	margin: 2px;
}

.showGames {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 500px;
	height: 300px;
	background-color: aqua;
}

.bar {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 500px;
	height: 100px;
	background-color: aqua;
}
.glossaryButton {
	align-items: center;
	display: flex;
	margin: 5px;
	justify-content: center;
	width: 250px;
	height: 50px;
}
.pointDiv {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	align-items: center;
	text-align: center;
	background-color: rgb(176, 235, 232);
}
#tutorielButton {
	width: 300px;
	height: 70px;
	font-size: 16px;
	background-color: #ac6615;
}
#practiceDiv {
	background-color: antiquewhite;
}

#practiceButtonMLU {
	width: 300px;
	height: 70px;
	font-size: 16px;
	background-color: #3c7f10;
}
#levelButton {
	width: 300px;
	height: 70px;
	font-size: 16px;
	background-color: rgb(173, 36, 128);
}
#showLetterTutorielTutoriel {
	background-color: antiquewhite;
}
#practiceBar {
	background-color: antiquewhite;
}
#showLetterDiv {
	background-color: antiquewhite;
}
@media (max-width: 600px) {
	#userAdministrationButton {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		align-items: center;
	}

	#glossaryButtonSingleTapMenu {
		height: 70px;
		width: 120px;
		font-size: 16px;
		background-color: #3bb8f7;
	}
	#spaceDivHeader {
		display: none;
		background-color: black;

		width: 0px;
	}
	#glossaryButtonDiv {
		float: left;
		right: 0px;
	}
	.returnMenuDiv {
		overflow-x: scroll;
		overflow-y: scroll;
	}
}

@media (max-width: 400px) {
	#showLetterTutorielTutoriel {
		width: 350px;
	}

	#practiceBar {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 350px;
		align-items: center;
	}
	#showLetterDiv {
		width: 350px;
		height: 300px;
	}
}
